@charset "utf-8";
/* CSS Document */

html{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000;
}
body{
	top:0;left:0;right:0;bottom:0;
	margin:0;
    /* Setting Halaman Untuk Jenis A4 */
	/* width: 297mm; */
    /* height: 210mm; */
	
    /* Setting Halaman Untuk Jenis F4 330x215*/
	width: 310mm;
    height: 170mm;
	/* border:#000 1px solid; */
}
#header {
	width:98%;
	height:165px;
	margin:auto;
	background:url(../images/logo-tap.png) left top no-repeat;
}
#header-inside{
	padding-top:7px;
	padding-left:55px;
	height:63px;
}
#content{
	width:98%;
	min-height:400px;
	margin:10px auto;
}


/* TABLE */
table {
	font-size:10px;
	margin:5px auto;
	border:#000 1px solid;
}
td{
    padding: 1px 1px;
}
th {
    padding: 5px 1px 8px 1px;
    color: #000;
    font-weight: bolder;
    text-align:center;
    background: #ccc;
}
.center{
	text-align:center;
}
 
/* FONT */
pre{
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	padding:0;
}
#title {
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bolder;
}
.h2 {
	font-size:12px;
	text-align:center;
	font-weight:bolder;
}
.h5{
	font-size:10px;
	text-align:center;
	font-style:italic;
}

.print-button {
	width: 150px;
	height:30px;
    cursor:pointer;
    background:url(../images/bg-button.png) no-repeat bottom;
	border:none;
	margin-right:10px;
	margin-left:10px;
	font-weight:bolder;
	text-transform:uppercase;
	box-shadow:none;
	float:right;
}
.print-button:hover {
    background:url(../images/bg-button-hover.png) no-repeat bottom;
}
.tap{
	font-family:"Times New Roman", Times, serif;
	font-weight:bolder;
	text-transform:uppercase;
	font-size:18px;
}
.custodian{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bolder;
	text-transform:uppercase;
	font-size:11px;
}
.alamat{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bolder;
	font-style:italic;
	font-size:10px;
}
ol{
	margin:0;
	padding-left:18px;
}
.detail{
	font-size:7px;
	margin:0;
	padding:0;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; word-wrap:break-word;}
pre.test {word-wrap:break-word;}